@tailwind base;
@tailwind components;
@tailwind utilities;
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  overflow-x: hidden;

  }

  @layer base {
    body {
      font-family: 'Space Grotesk', sans-serif;
    }
  }
  
  .text-glow {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  }
  
  .nav-item-hover {
    position: relative;
    transition: all 0.3s ease;
  }
  
  .nav-item-hover::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -4px;
    left: 0;
    background: linear-gradient(
      90deg,
      transparent 0%,
      rgba(147, 51, 234, 0.5) 50%,
      transparent 100%
    );
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  }